.container{
    display: flex;
    background-color: aqua;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    width: 300px;
    margin: 20px;
    box-sizing: border-box;
    box-shadow: 1px 2px 4px black;
}
.img-style{
    width: 100%;
}
.card-body{
    padding: 5px;
    background-color: slategray;
}
.card-title{
    font-size: 30px;
    text-align: center;
    color: white;
}
.card-desc{
    text-align: justify;
    color: white;
}
.card:hover{
    box-shadow: 6px 15px 25px brown;
}

